



.content-right{
    width: 827px;
    height: 760px;
    padding: 16px;
    
}



.right-one {
    
    padding: 20px;
    height: 730px;
    max-width: 760px;
    margin-left: 48px;
    font-weight: bolder;
}

.context span{
    letter-spacing: -1.2px;
}

.context{
    color: rgb(231, 233, 234);
    line-height: 84px;
    letter-spacing: -1.2px;
    font-size: 64px;
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin-bottom: 48px;
    margin-top: 48px;
    position: relative;
    bottom: 15px;
    width: 664px;
    height: 168px;
}

.apple{
   
        color: rgb(15, 20, 25);
        width: 45px;
        height: 21px;
        margin-right: 4px;
        vertical-align: text-bottom;
        position: relative;
         left: 53px;
         top: 8px;
    
}

.apple-span {
    position: relative;
    left: 7px;
    bottom: 9px;
}

.span-content{
    color: #e7e9ea;
    font: inherit;
    white-space: inherit;
}
.goggle{
    height: 18px;
    margin-right: 8px;
    min-width: 18px;
    width: 18px;
    position: relative;
    left: 66px;
    top: 8px;
}
.form-first{
    justify-content: center;
}
.goggle-span{
    flex-grow: 1;
    font-family: "Google Sans",arial,sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    position: relative;
    left: 15px;
    bottom: 9px;

}
.context-two{
    width: 720px;
    height: 36px;
    color: rgb(231, 233, 234);
    font-size: 35px;
    margin-bottom: 32px;
    line-height: 32px;
    font-size: 31px;
    position: relative;
    bottom: 15px;
}

.context-two span {
    font-size: larger;
    font-weight: 600;
}

.context-three{
    width: 716px;
    height: 356px;
    
}

.form{
    width: 300px;
    height: 40px;
    margin: 14px;
    right: 18px;
    position: relative;
    bottom: 12px;
    display: flex;
}


.btn {
    border: 1px solid white;
    width: 300px;
    height: 40px;
    margin: -2px 5px 1px;
    background-color: white;
    border-radius: 33.5px;
}


.line{
    width: 27px;
    max-width: 20px;
    color: white;
    display: flex;
    margin-left: -4px;
    margin-right: -4px;
    margin-bottom: 5px;
    margin-top: 4px;

}
.line span {
    position: relative;
    top: -12px;
}
.first-line{
    background-color: rgb(47, 51, 54);
    height: 1px;
    width: 111px;
    margin-left: 4px;
    margin-right: 4px;
}


hr{
    width: 126px;
    height: 20px;
}
#blue{
    background-color: blue;
}
.right-end{
    width: 720px;
    height: 88px;
    margin-top: 40px;
}
.end-one{
    width: 380px;
    height: 20px;
    color: rgb(231, 233, 234);
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: 700;
}



.cookie{
    width: 300px;
    position: relative;
    bottom: 14px;
    height: 32px;
    color: rgb(113, 118, 123);
    line-height: 12px;
    font-size: 11px;
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

}
.css-4rbku5 {
    background-color: rgba(0, 0, 0, 0);
    color: inherit;
    font: inherit;
    list-style: none;
    margin: 0px;
    text-align: inherit;
    text-decoration: none;
}
.css-16my406 {
    color: inherit;
    font: inherit;
    white-space: inherit;
}

.cookie a {
    cursor: pointer;
    color: rgb(29, 155, 240);
}