
.top{
    width: 1519px;
    height: 760px;
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    flex-direction: row-reverse;
    display: flex;
    background-color: black;
    border: 1px solid red;
}
.aut-container {
    height: 832px;
    width: 1519px;
    box-sizing: border-box;
    min-height: 707px;
    
}
/**
.log-main {
    min-height: 100%;
    z-index: 0;
    flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
*/
.main{
    width: 1519px;
    height: 760px;
    flex-direction: row-reverse;
    background-color: black;
    color: rgb(231, 233, 234);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    width: 724px;
    height: 760px;
    background-color: aqua;
}

.log-left{
    height: 743px;
    width: 728px;
   
}
.content-left{
    border: 1px solid red;
    width: 760px;
    height: 765px;
}

